/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --border: 3px;
  --color1: #6be89b;
  --color2: #0076a5;
  --from: 30deg;
  --distance: 46%;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #33353d;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  opacity: 0.8;
  padding-bottom: 15px;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  color: #f39102 !important;
text-transform: uppercase;
text-decoration: none;
background: #33353d;
padding: 20px;
display: inline-block;
transition: all 0.4s ease 0s;

--c: #f39102; /* the color */
--b: .1em;    /* border length*/
--d: 20px;    /* the cube depth */

--_s: calc(var(--d) + var(--b));

color: var(--c);
border: solid #0000;
border-width: var(--b) var(--b) var(--_s) var(--_s);
background:
  conic-gradient(at left var(--d)  bottom var(--d),
    #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
  conic-gradient(at left var(--_s) bottom var(--_s),
    #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
transform: translate(calc(var(--d)/-1),var(--d));
clip-path: 
  polygon(
   var(--d) 0%, 
   var(--d) 0%, 
   100% 0%, 
   100% calc(100% - var(--d)),
   100% calc(100% - var(--d)),
   var(--d) calc(100% - var(--d))
  );
transition: 0.5s;
}

.nav-list a:hover {
  transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://ik.imagekit.io/ugdlmxlzt/jefferson-santos-9SoCnyQmkzI-unsplash.jpg?updatedAt=1685614298141);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 17rem 2rem;
  background: black;
}

.Skills-section{
  display: flex;
  Justify-content: center;
  padding: 10rem 2rem;
  background: black;
  padding-top: 9% !important;
  min-height: 100vh;
}
.Skill-head{
  display: grid;
    gap: 35px;
    grid-template-columns: auto auto auto auto auto auto ;
    margin-top: 7%;
}
.glow-on-hover {
    padding: 25px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 2rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
 

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 6rem;
  }
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 25px #ccc;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0px;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: #f39102;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 2rem;
  background: black;
  min-height: 100vh;
}

.contact-section-header > h2 {
  font-size: 3rem;
  color: #f39102;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

button {
  font-size: 14px;
  background-color: #FDD85F;
  padding: 12px 26px;
  border-radius: 40px;
  width: auto;
  color: #3b4a67;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
}

textarea,
input {
  border: none;
  background-image: none;
  background-color: #fff;
  box-shadow: none;
  font-size: 14px;
  padding: 16px;
  border-radius: 10px;
  border: 0px;
  resize: none;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.04);
}

input:hover,
input:focus {
  color: #000;
}

.content {
  padding-top: 48px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 980px;
  justify-content: center;
  padding-bottom: 5%;
}
.content .feedback-description {
  padding-bottom: 72px;
  color: #f39102;
}
.content .feedback-description .subtitle {
  font-size: 16px;
  font-style: italic;
}
.content .feedback-form {
  min-width: 280px;
  padding-left: 64px;
  display: flex;
  flex-direction: column;
}
.content .feedback-form * {
  margin-bottom: 16px;
  box-shadow: 0 0 5px #ff0055,
  0 0 5px #ff0055,
  0 0 5px #ff0055,
  0 0 25px #ff0055;
}

@media screen and (max-width: 674px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .content .feedback-form {
    padding-left: 0;
  }

  button {
    width: 100%;
  }
}

.feedback-survey .title{
    font-size: 50px;
}

@media screen and (max-width: 1024px) {
  body{
    width: fit-content;
  }
  .projects-grid {
    grid-gap: 12rem;
    width: fit-content;
  }
  .projects-section-header{
    padding-bottom: 5%;
  }
  .project-image {
    border-radius: 40px 40px 0 0;
  }
  .project{
    border-radius: 40px;
    width: 600px;
    height: 600px;
  }
}

.selfinfo{
  display: flex;
  justify-content: space-evenly;
}

.selfinfo img{
  height: 200px;
  width: 200px;
  border-radius: 999px;
}

.descriptioninfo{
  padding-top: 20px;
  text-align: justify;
  font-style: italic;
  color: white;
}

.selfinfo h1{
  display: flex;
  position: relative;
  align-items: center;
  font-size: 4rem;
  color: var(--main-red);
  font-family: 'Roboto Slab', serif;
}

.imginfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imginfo p{
  font-style: italic;
  color: white;
}

.welcome-section section{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 2%;
  background-color: #33353d;
  box-shadow: 0px 0px 10px 10px #FBE4E0;
  opacity: 0.8;
  border-radius: 20px;
}

.container {
  position: relative;
  padding: 30px;
}
.container::after {
  content: '';
  border-radius: 999px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    from var(--from),
    var(--color1),
    var(--color2) var(--distance),
    transparent var(--distance)
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
}

@media screen and (max-width:1024px) {
  .welcome-section section{
      width: 70%;
  }
}

.projects-section h2{
  padding-bottom: 30px;
  color: #f39102;
}

.Skills-section h2{
  font-size: 6.2rem;
  color: #f39102;
}

.descr a{
  color: black;
}

.ajax{
  object-fit: fill;
}

.skilltitle{
  margin-top: 4%;
  display: none;
  color: #f39102;
}

.glow-on-hover:hover{
  .skilltitle{
    display: block;
  }
}

.Skill-head a img{
  height: 75px;
  width: 85px;
  margin: auto;
}

#button {
  display: inline-block;
  background-color: #e2723b;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.4em;
  line-height: 47px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #87139c;
}
#button:active {
  background-color: #87139c;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.contact-links a{
  color: #f39102;
}